name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write
  packages: write

env:
  READ_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
  DISPATCH_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
  SLACK_DEVOPS_NOTIFICATIONS: ${{ secrets.SLACK_DEVOPS_NOTIFICATIONS }}
  SLACK_RELEASES_WEBHOOK: ${{ secrets.SLACK_RELEASES_WEBHOOK }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Acquire cache v4
        uses: actions/cache@v4
        with:
          path: .git
          key: repo-git-folder

      - name: Check out code v4
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node v4
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@zerobias-org'

      - name: Setup java v4
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Configure git user
        run: |
          git config --global user.email "ci@zerobias.com"
          git config --global user.name "@$GITHUB_ACTOR"

      - name: Install nx
        run: |
          npm install -g nx@20.5.0
        env:
          NPM_TOKEN: ${{ env.READ_TOKEN }}

      - name: Install and build
        run: |
          npm i
          npm run build
        env:
          NPM_TOKEN: ${{ env.READ_TOKEN }}

      - name: Generate bom
        run: |
          npm run generate:bom

      - name: Publish
        run: |
          npm run lerna:publish -- --yes
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Slack Notification on failure
        uses: slackapi/slack-github-action@v2.1.1
        if: failure()
        with:
          webhook: ${{ env.SLACK_DEVOPS_NOTIFICATIONS }}
          webhook-type: incoming-webhook
          payload: |
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: ":fire: ${{ github.repository }} Github Workflow Failed"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: "<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|View workflow run>"

      - name: Slack Notification
        uses: slackapi/slack-github-action@v2.1.1
        if: success()
        with:
          webhook: ${{ env.SLACK_RELEASES_WEBHOOK }}
          webhook-type: incoming-webhook
          payload: |
            blocks:
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: ":robot: :gear: New types packages published :tada:"
              - type: "section"
                text:
                  type: "mrkdwn"
                  text: ":package: New @zerobias-org/types packages published"
